<%- include('includes/head') %> 
<link rel="stylesheet" href="styles/forms.css">
<link rel="stylesheet" href="styles/post.css">

</head>
<body>
    <%- include('includes/header') %> 
    <main>
        <section>
            <h1>Administrate Blog Posts</h1>
            <h2>Create a New Post</h2>
            <% if(inputData.hasError) { %> 
            <p id="input-error"><%= inputData.message %></p>
            <% } %> 
            <form method="POST" action="/admin">
                <input type="hidden" value="<%= csrfToken %>" name="_csrf">

                <div id="form-controll">
                    <label for="post-title">Title</label>
                    <input type="text" name="post-title" id="post-title" value="<%= inputData.title %>">
                </div>
                <div id="form-controll">
                    <label for="post-content">Content</label>
                    <textarea name="post-content" id="post-content" cols="30" rows="5"><%= inputData.content %></textarea>
                </div>
                <button class="btn">Save</button>
            </form>
        </section>
        <section>
            <h2>All Blog Posts</h2>
            <% if(!posts || posts.length === 0) { %>
                <p>there is no posts yet you can start writing</p>
                <% } else { %> 
            <ul id="post-list">
                <% for(const post of posts){ %> 
                <%- include('includes/post-list-item', {post: post}) %>
                <% } %> 
            </ul>
            <% } %> 
        </section>
    </main>
</body>