<%- include('includes/head') %> 
<link rel="stylesheet" href="styles/auth.css">
<link rel="stylesheet" href="styles/forms.css">
</head>
<body>
    <%- include('includes/header') %> 
    <main>
        <form action="/login" method="POST" id="login-form">
            <input type="hidden" value="<%= locals.csrfToken %>" name="_csrf">

            <h1>Login</h1>
            <% if(inputData.hasError) { %>
                <p id="input-error"><%= inputData.message %></p>
                <% } %> 
            <div id="form-controll">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" value="<%= inputData.email %>" required>
            </div>
            <div id="form-controll">
                <label for="email">Password</label>
                <input type="password" name="password" value="<%= inputData.password %>" id="password" required>
            </div>
            <button class="btn">Login</button>
        </form>
        <div id="auth-alt">
            <a href="/signup" class="btn-alt">Create a new user</a>
        </div>
    </main>
</body>