<%- include('includes/head') %> 
<link rel="stylesheet" href="styles/auth.css">
<link rel="stylesheet" href="styles/forms.css">

</head>
<body>
    <%- include('includes/header') %> 
    <main>
    <form action="/signup" method="POST" id="signup-form">
        <h1>Signup</h1>
        <% if(inputData.hasError){ %>
            <p id="input-error"><%= inputData.message %></p>
            <% } %> 
        <div id="form-controll">
            <label for="email" >Email</label>
            <input type="email" name="email" id="email" value="<%= inputData.email %>" required>
        </div>
        <div id="form-controll">
            <label for="email">Confirm Email</label>
            <input type="email" name="confirm-email" id="confirm-email" value="<%= inputData.confirmEmail %>" required>
        </div>
        <div id="form-controll">
            <label for="email">Password</label>
            <input type="password" name="password" id="password" value="<%= inputData.password %>" required>
        </div>
        <button class="btn">Create user</button>
    </form>
    <div id="auth-alt">
        <a href="/login" class="btn-alt">Login instead</a>
    </div>
</main>
</body>
</html>